<span class="flavor-text">
  {{#if compendiumEntry}}
  <a data-tooltip="PF1.OpenAssociatedCompendiumEntry" data-action="open-compendium-entry" data-compendium-entry="{{compendiumEntry}}"{{#if compendiumEntryType}} data-document-type="{{compendiumEntryType}}"{{/if}}>
    <i class="fas fa-book"></i>
  </a>
  {{/if}}

  {{flavor}}

  {{#if isAbnormal}}
  <i class="fas fa-dice-d20 abnormal {{#if isStatic}}take-x{{/if}}" data-tooltip="{{abnormalTooltip}}"></i>
  {{/if}}
</span>

{{#if formula}}
<div class="dice-roll">
  <div class="dice-result">
      <h4 data-natural="{{natural}}" data-bonus="{{bonus}}" class="dice-total{{#if isNat20}} natural-20{{/if}}{{#if isNat1}} natural-1 failure{{/if}}{{#if isCrit}} critical-threat success{{/if}}">{{total}}</h4>
      {{{tooltip}}}
  </div>
</div>
{{/if}}

{{#if extraText}}
<div class="extra-text gm-sensitive">{{{extraText}}}</div>
{{/if}}

{{#each properties}}
{{> "systems/pf1/templates/chat/parts/item-notes.hbs" css=css cssExtra="general-notes" header=header notes=value}}
{{/each}}
