<form class="{{cssClass}} flexcol" data-tooltip-class="pf1" autocomplete="off">

  {{!-- Vehicle Sheet Header --}}
  <header class="sheet-header flexrow">
    <img class="profile" src="{{actor.img}}" title="{{name}}" data-edit="img">

    <div class="header-details flexcol">
      <h1 class="charname">
        <input name="name" type="text" value="{{actor.name}}" placeholder="{{localize "PF1.CharacterName"}}">
      </h1>

      {{!-- Options --}}
      <div class="flexcol">
        <ul class="summary options">
          {{! Vehicle Type }}
          <li data-tooltip="{{localize "PF1.Type"}}">
            <label>{{localize "PF1.Type"}}</label>
            <select name="system.traits.type">
              {{selectOptions config.vehicles.type selected=system.traits.type}}
            </select>
          </li>
          {{! Vehicle Size }}
          <li data-tooltip="{{localize "PF1.Size"}}">
            <label>{{localize "PF1.Size"}}</label>
            <select name="system.traits.size">
              {{selectOptions @root.vehicleSizes selected=system.traits.size.base}}
            </select>
          </li>
          {{! Space }}
          <li data-tooltip="{{localize "PF1.Vehicles.OccupiedSpace"}}">
            <label>{{#with (lookup config.vehicles.size system.traits.size.base) as |vehicle|}}{{vehicle.space}}{{/with}}</label>
          </li>
          {{! Cost }}
          <li>
            <input name="system.details.cost" type="number" data-dtype="Number" value="{{system.details.cost}}" placeholder="{{localize "PF1.CostGP"}}"
              data-tooltip="{{localize "PF1.CostGP"}}">
          </li>
        </ul>
      </div>
    </div>
  </header>

  {{!-- Vehicle Sheet Navigation --}}
  <nav class="sheet-navigation tabs" data-group="primary">
    <a class="item" data-tab="summary">{{localize "PF1.Summary"}}</a>
    <a class="item" data-tab="inventory">{{ localize "PF1.Inventory" }}</a>
    <a class="item" data-tab="notes">{{ localize "PF1.Notes" }}</a>
  </nav>

  <section class="primary-body">
    <div class="tab summary" data-group="primary" data-tab="summary">
      {{!-- Defense --}}
      <div class="defenses info-box-header">
        <h3>{{localize "PF1.Defenses"}}</h3>

        {{! AC }}
        <div class="info-box ac" data-tooltip-extended="ac.vehicle">
          <h5>{{localize "PF1.ACNormal"}}</h5>
          <span class="value">
            <input name="system.attributes.ac.normal.base" type="number" value="{{system.attributes.ac.normal.base}}" data-dtype="Number" step="1" placeholder="{{localize "PF1.NonApplicable"}}">
          </span>
        </div>
        {{! Hardness }}
        <div class="info-box ac">
          <h5>{{localize "PF1.Hardness"}}</h5>
          <span class="value">
            <input name="system.details.hardness" type="number" value="{{system.details.hardness}}" data-dtype="Number" step="1" placeholder="{{localize "PF1.NonApplicable"}}">
          </span>
        </div>
        {{! Saving Throw }}
        <div class="info-box ac">
          <h5>{{localize "PF1.SavingThrow"}}</h5>
          <span class="value">
            <input name="system.attributes.savingThrows.save.base" type="number" value="{{system.attributes.savingThrows.save.base}}" data-dtype="Number" step="1" placeholder="{{localize "PF1.NonApplicable"}}">
          </span>
        </div>
      </div>

      {{!-- Hit Points --}}
      <div class="health info-box-header" data-tooltip-extended="hp">
        <h3>{{localize "PF1.HitPoints"}}</h3>

        <div class="info-box-joined">
          <div class="info-box current">
            <h5>{{localize "PF1.Current"}}</h5>
            <span class="value">
              <span class="text-box direct wheel-change allow-relative hp-current-input" name="system.attributes.hp.value" data-dtype="Number">{{system.attributes.hp.value}}</span>
            </span>
          </div>
          <div class="info-box maximum">
            <h5>{{localize "PF1.Maximum"}}</h5>
            <span class="value">
              <span class="text-box direct hp-max-input" name="system.attributes.hp.base" type="number" data-dtype="Number">{{system.attributes.hp.max}}</span>
            </span>
          </div>
        </div>
      </div>

      <div class="combat">
        {{! Max Speed }}
        <div class="info-box">
          <h5>{{localize "PF1.Vehicles.MaximumSpeed"}}</h5>
          <span class="value">
            <input name="system.details.maxSpeed" value="{{convertDistance system.details.maxSpeed}}" type="number" data-dtype="Number" placeholder="{{localize "PF1.NonApplicable"}}">
          </span>
        </div>
        {{! Acceleration }}
        <div class="info-box">
          <h5>{{localize "PF1.Vehicles.Acceleration"}}</h5>
          <span class="value">
            <input name="system.details.acceleration" value="{{convertDistance system.details.acceleration}}" type="number" data-dtype="Number" placeholder="{{localize "PF1.NonApplicable"}}">
          </span>
        </div>
        {{! CMB }}
        <div class="info-box attribute attack cmb" data-tooltip-extended="cmb">
          <h5><a class="rollable" data-type="cmb" data-ranged="false"><i class="fas fa-dice"></i> <span>{{localize "PF1.CMBAbbr"}}</span></a></h5>
          <span class="value">
            <span class="text-box direct wheel-change allow-relative cmb-current-input" name="system.abilities.str.value" data-dtype="Number">{{system.attributes.cmb.total}}</span>
          </span>
        </div>
        {{! CMD }}
        <div class="info-box" data-tooltip-extended="cmd.total">
          <h5>{{localize "PF1.CMDAbbr"}}</h5>
          <span class="value">
            <span class="text-box direct wheel-change allow-relative cmd-current-input" name="system.attributes.cmd.value" data-dtype="Number">{{system.attributes.cmd.total}}</span>
          </span>
        </div>

        {{!-- Initiative --}}
        <div class="info-box attribute initiative" data-tooltip-extended="init">
          <h5><a class="rollable"><i class="fas fa-dice"></i> <span>{{localize "PF1.Initiative"}}</span></a></h5>
          <span class="value">
            <span class="text-box direct allow-relative" name="system.attributes.init.value" data-dtype="Number">
              {{system.attributes.init.total}}
            </span>
          </span>
        </div>
      </div>

      {{!-- Description --}}
      <div class="description info-box-header">
        <h3>{{localize "PF1.Description"}}</h3>
        <textarea rows="4" name="system.details.description">{{system.details.description}}</textarea>
      </div>

      <div class="driving">
        <div class="info-box">
          <h5>{{localize "PF1.Vehicles.Propulsion"}}</h5>
          <span class="value">
            <input name="system.details.propulsion" value="{{system.details.propulsion}}" type="text" placeholder="{{localize "PF1.NonApplicable"}}">
          </span>
        </div>
        <div class="info-box">
          <h5>{{localize "PF1.Vehicles.DrivingCheck"}}</h5>
          <span class="value">
            <input name="system.details.drivingCheck" value="{{system.details.drivingCheck}}" type="text" placeholder="{{localize "PF1.NonApplicable"}}">
          </span>
        </div>
        <div class="info-box">
          <h5>{{localize "PF1.Vehicles.ForwardFacing"}}</h5>
          <span class="value">
            <input name="system.details.forwardFacing" value="{{system.details.forwardFacing}}" type="text" placeholder="{{localize "PF1.NonApplicable"}}">
          </span>
        </div>
        <div class="info-box">
          <h5>{{localize "PF1.Vehicles.DrivingDevice"}}</h5>
          <span class="value">
            <input name="system.details.drivingDevice" value="{{system.details.drivingDevice}}" type="text" placeholder="{{localize "PF1.NonApplicable"}}">
          </span>
        </div>
      </div>

      <div class="capacity">
        <div class="info-box">
          <h5>{{localize "PF1.Vehicles.DrivingSpace"}}</h5>
          <span class="value">
            <input name="system.details.drivingSpace" value="{{system.details.drivingSpace}}" type="text" placeholder="{{localize "PF1.NonApplicable"}}">
          </span>
        </div>
        <div class="info-box">
          <h5>{{localize "PF1.Vehicles.Crew"}}</h5>
          <span class="value">
            <input name="system.details.crew" value="{{system.details.crew}}" type="number" data-dtype="Number" placeholder="{{localize "PF1.NonApplicable"}}">
          </span>
        </div>
        <div class="info-box">
          <h5>{{localize "PF1.Vehicles.Decks"}}</h5>
          <span class="value">
            <input name="system.details.decks" value="{{system.details.decks}}" type="number" data-dtype="Number" placeholder="{{localize "PF1.NonApplicable"}}">
          </span>
        </div>
      </div>

      {{!-- Actions --}}
      <div class="combat-attacks">
        <section class="attacks-body">
          <ol class="item-groups-list">
          {{#each attacks as |section sid|}}
          {{#unless section._hidden}}
            <ol class="item-list" data-list="{{id}}" data-type="{{create.type}}" data-subtype="{{create.system.subType}}">
              <li class="item-list-header flexrow attacks-{{id}}">
                <div class="item-name">
                  <h3>{{section.label}}</h3>
                </div>

                {{#if interface.types}}<div class="item-detail item-type"><i class="icon-pf icon-magic-palm" data-tooltip="PF1.Type"></i></div>{{/if}}

                <div class="item-detail item-actions"><i class="icon-pf icon-gears" data-tooltip="PF1.ActionPlural"></i></div>

                <div class="item-detail item-uses"><i class="icon-pf icon-battery-pack" data-tooltip="PF1.ChargePlural"></i></div>

                {{#if @root.owner}}
                <div class="item-controls">
                  {{#if interface.create}}
                  <a class="item-control item-create" data-tooltip="PF1.CreateItem" data-create="{{path}}">
                    <i class="fas fa-plus"></i> {{localize "PF1.Add"}}
                  </a>
                  {{/if}}
                </div>
                {{/if}}
              </li>

              {{#each section.items as |item iid|}}
              <li class="item flexrow" data-item-id="{{item.id}}">
                <div class="item-name rollable">
                  <div class="item-image" style='background-image: url("{{item.img}}")'></div>
                  <h4>
                    {{item.name~}}
                  </h4>
                </div>

                {{#if section.showTypes}}
                <div class="item-detail item-type">
                  <span>{{lookup @root.config.attackTypes item.subType}}</span>
                </div>
                {{/if}}

                <div class="item-detail item-actions">
                  <div class="item-action">
                    {{#if item.hasAction}}
                    <a class="item-control item-action action roll" data-tooltip="PF1.PerformAttack">
                      <i class="fa-solid fa-dice-d20"></i>
                    </a>
                    {{/if}}
                  </div>
                </div>

                <div class="item-detail item-uses flexrow" data-tooltip-extended="item.{{item.id}}.resources">
                  {{#if item.isCharged}}
                  <span class="text-box value allow-relative" data-wheel-step="1" data-dtype="Number">{{item.uses.value}}</span>
                  <span class="sep"> / </span>
                  <span class="max">{{item.uses.max}}</span>
                  {{/if}}
                </div>

                {{#if @root.owner}}
                <div class="item-controls">
                  <a class="item-control item-edit" title="{{localize "PF1.EditItem"}}"><i class="fas fa-edit"></i></a>
                  <a class="item-control item-duplicate" title="{{localize "PF1.DuplicateItem"}}"><i class="fas fa-copy"></i></a>
                  <a class="item-control item-delete" title="{{localize "PF1.DeleteItem"}}"><i class="fas fa-trash"></i></a>
                </div>
                {{/if}}
              </li>
              {{/each}}
            </ol>
          {{/unless}}
          {{/each}}
          </ol>
        </section>
      </div>
    </div>

    {{!-- Inventory Tab --}}
    <div class="tab inventory flexcol" data-group="primary" data-tab="inventory">
      {{> "systems/pf1/templates/actors/parts/actor-inventory.hbs" sections=inventory}}
    </div>

    {{!-- Notes Tab --}}
    <div class="tab actor-notes flexcol" data-group="primary" data-tab="notes">
      <div class="primary-content">
        {{editor notesHTML target="system.details.notes.value" button=true owner=owner editable=editable engine="prosemirror" collaborate=false}}
      </div>
    </div>
  </section>

</form>
