.application.pf1-v2 {
  :is(input, select) {
    &:disabled {
      &:after {
        color: var(--color-text-dark-secondary) !important;
      }
    }
  }

  .hint {
    color: var(--color-form-hint-hover);
    font-size: var(--font-size-14);
  }

  .warning {
    color: var(--pf1-v2-text-warning);
    font-size: var(--font-size-14);
  }

  .form-footer {
    display: flex;
    gap: 0.5rem;

    button {
      height: calc(1.25 * var(--input-height));
    }
  }

  label.checkbox {
    > input {
      all: initial; // Remove Foundry's overrides that cause misalignment
    }

    &:hover {
      background-color: var(--pf1-checkbox-hover-bg);
      border-radius: 3px;
    }
  }
}

.theme-dark {
  .application.pf1-v2 {
    table {
      thead {
        background-color: rgba(255, 255, 255, 0.15);
      }

      tr:nth-child(even) {
        background-color: rgba(255, 255, 255, 0.1);
      }
    }

    label.checkbox {
      --pf1-checkbox-hover-bg: var(--pf1-bg-light-0);
    }
  }
}

.theme-light {
  .application.pf1-v2 {
    label.checkbox {
      --pf1-checkbox-hover-bg: var(--pf1-bg-dark-0);
    }
  }
}

@keyframes pf1-constant-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
