// Enriched link
a.pf1-link {
  white-space: nowrap;
  word-break: break-all;

  &.content,
  &.button {
    border: 1px solid var(--color-border-light-tertiary);
    border-radius: 5px;
    padding: 1px 4px;
    background: #ddd;
  }

  &.broken {
    background: #ecc;
    border: unset;
    color: var(--color-level-error);
    cursor: initial;
  }
}

// Enriched data
a.pf1-info {
  white-space: nowrap;
  word-break: break-all;

  background-color: var(--pf1-bg-dark-0);
  padding: 0 3px;
  border-radius: 0.5em;
  outline: 0 0 3px black;

  cursor: initial;
}
