<form class="{{cssClass}} flexcol" autocomplete="off" data-tooltip-class="pf1">

  {{!-- Item Sheet Header --}}
  <header class="sheet-header flexrow">
    <img class="profile" src="{{item.img}}" data-tooltip="{{item.name}}" data-edit="img">

    <div class="header-details flexrow">
      <h1 class="item-name">
        <input name="name" type="text" value="{{item.name}}" placeholder="{{localize "PF1.BuffName"}}">
      </h1>

      {{! Content Source }}
      {{~> "systems/pf1/templates/internal/content-source-view.hbs"}}

      <ul class="summary">
        <li data-tooltip="@item.level : {{#if system.level}}{{system.level}}{{else}}0{{/if}}">
          <label>
            {{localize "PF1.Level"}}:
            <input class="value level blended" type="text" name="system.level" data-dtype="Number" value="{{system.level}}" placeholder="0">
          </label>
        </li>
        <li>
          <label>
            <input type="checkbox" name="system.active" {{checked system.active}}> {{localize "PF1.Active"}}
          </label>
        </li>
      </ul>
    </div>
  </header>

    {{!-- Sidebar --}}
  <section class="sidebar">
    <header>
      <h3 class="item-type">{{itemType}}</h3>

      <h4 class="item-subtype">{{labels.subType}}</h4>
    </header>

    {{> "systems/pf1/templates/items/parts/item-sidebar-inputs.hbs"}}

    {{> "systems/pf1/templates/items/parts/item-sidebar-conditions.hbs"}}

    {{> "systems/pf1/templates/items/parts/item-sidebar-tags.hbs"}}
  </section>

  {{!-- Item Sheet Navigation --}}
  <nav class="sheet-navigation tabs" data-group="primary">
    <a class="item" data-tab="description">{{ localize "PF1.Description" }}</a>
    <a class="item" data-tab="details">{{localize "PF1.Details"}}</a>
    <a class="item" data-tab="changes">{{ localize "PF1.Changes" }}</a>
    <a class="item" data-tab="links">{{localize "PF1.Links"}}</a>
    <a class="item" data-tab="advanced">{{localize "PF1.Advanced"}}</a>
  </nav>

  {{!-- Item Sheet Body --}}
  <section class="primary-body">

    {{!-- Description Tab --}}
    <div class="tab description" data-group="primary" data-tab="description">
      {{editor descriptionHTML.identified target="system.description.value" button=true editable=editable engine="prosemirror" collaborate=false}}
    </div>

    {{!-- Details Tab --}}
    <div class="tab details" data-group="primary" data-tab="details">
      {{> "systems/pf1/templates/items/parts/item-actions.hbs"}}

      {{! Buff Subtype }}
      <div class="form-group">
        <label>{{localize "PF1.Type"}}</label>
        <div class="form-fields">
          <select name="system.subType">
          {{selectOptions config.buffTypes selected=system.subType}}
          </select>
        </div>
      </div>

      {{!-- Duration --}}
      <div class="form-group input-select">
        <label>{{localize "PF1.Duration"}}</label>
        <div class="form-fields">
          {{#unless noDurationTiming}}
          <input class="formula roll" type="text" name="system.duration.value" value="{{system.duration.value}}" placeholder="{{localize "PF1.Formula"}}">
          {{/unless}}
          <select name="system.duration.units">
            {{selectOptions config.timePeriodsShort selected=system.duration.units blank=(localize "PF1.Infinite")}}
          </select>
        </div>
      </div>

      {{#unless noDurationTiming}}
      <div class="form-group">
        <label>{{localize "PF1.DurationEndTiming"}}</label>
        <div class="form-fields">
          <select name="system.duration.end">
            {{selectOptions config.durationEndEvents selected=system.duration.end}}
          </select>
        </div>
      </div>
      {{/unless}}

      {{! Conditions }}
      {{~> "systems/pf1/templates/items/parts/item-conditions.hbs"}}

      <h3 class="form-header">{{localize "PF1.Properties"}}</h3>

      {{! Hide From Token}}
      <div class="form-group stacked">
        <label class="checkbox">
          <input type="checkbox" name="system.hideFromToken" {{checked system.hideFromToken}}>
          {{localize "PF1.HideFromToken"}}
        </label>
      </div>

      {{!-- Proficiencies --}}
      {{~> "systems/pf1/templates/items/parts/item-proficiencies.hbs"}}

      {{!-- Creature Type --}}
      {{~> "systems/pf1/templates/items/parts/item-creature-type.hbs"}}

      {{!-- Advanced --}}
      <h3 class="form-header">{{localize "PF1.Advanced"}}</h3>

      {{! Tags }}
      {{~> "systems/pf1/templates/items/parts/item-tags.hbs"}}

      {{! Identifier Tag }}
      {{~> "systems/pf1/templates/items/parts/item-tag.hbs"}}
    </div>

    {{!-- Changes Tab --}}
    <div class="tab changes" data-group="primary" data-tab="changes">
      {{~> "systems/pf1/templates/items/parts/item-changes.hbs"}}
    </div>

    <div class="tab links" data-group="primary" data-tab="links">
      {{> "systems/pf1/templates/items/parts/item-links.hbs"}}
    </div>

    <div class="tab advanced" data-group="primary" data-tab="advanced">
      {{> "systems/pf1/templates/items/parts/item-advanced.hbs"}}
    </div>
  </section>
</form>
