.journal-page-content {
  // Improve core formatting of journal tables

  table {
    th {
      padding: 0.2rem 0.5rem;
    }

    td {
      padding: 0.2rem 0.3rem;
    }
  }

  .pf1.center-second-column {
    :is(td, th) {
      text-align: left;
      &:nth-child(2) {
        text-align: center;
      }
    }
  }
}
