<section class="form-body">
  <div class="form-group">
    <label for="disable-experience-tracking">
      {{localize "PF1.Application.Settings.Experience.Disable"}}
    </label>
    <div class="form-fields">
      <input type="checkbox" id="disable-experience-tracking" name="disable"
             data-dtype="Boolean" {{checked settings.disable}}>
    </div>
    <p class="hint">
      {{localize "PF1.Application.Settings.Experience.DisableHint"}}
    </p>
  </div>

  <div class="{{#if (not enabled)}}hidden{{/if}}" id="experience-details">
    <div class="form-group">
      <label for="xp-track">
        {{localize "PF1.Application.Settings.Experience.Track.Label"}}
      </label>
      <div class="form-fields">
        <select name="track" id="xp-track">
          {{selectOptions model.progressionOptions selected=settings.track localize=true}}
        </select>
      </div>
      <p class="hint">
        {{localize "PF1.Application.Settings.Experience.Track.Hint"}}
      </p>
    </div>

    <div class="{{#if (not hasCustomFormula)}}hidden{{/if}}" id="experience-custom">
      <div class="form-group">
        <label for="xp-custom-formula">
          {{localize "PF1.Formula"}}
        </label>
        <div class="form-fields">
          <input type="text" class="formula" id="xp-custom-formula"
                 placeholder="{{localize "PF1.Application.Settings.Experience.Track.CustomPlaceholder"}}"
                 name="custom.formula" value="{{settings.custom.formula}}">
        </div>
      </div>
      <p class="hint">
        <i class="fa-solid fa-circle-info"></i>
        {{{localize "PF1.Application.Settings.Experience.Track.CustomUsage"}}}
      </p>
    </div>

    <div class="form-group">
      <label for="open-xp-distributor">
        {{localize "PF1.Application.Settings.Experience.Distributor"}}
      </label>
      <div class="form-fields">
        <input type="checkbox" id="open-xp-distributor" name="openDistributor"
               data-dtype="Boolean" {{checked settings.openDistributor}}>
      </div>
      <p class="hint">
        {{localize "PF1.Application.Settings.Experience.DistributorHint"}}
      </p>
    </div>
  </div>
</section>
