<section class="form-body">
  {{! Base Tab }}
  <section class="tab {{tabs.base.cssClass}}" data-group="{{tabs.base.group}}" data-tab="{{tabs.base.id}}">
    <p class="hint">
      {{localize 'PF1.Application.Settings.Health.Instructions'}}
    </p>
    <div class="hitdice-table">
      <label class="index table-header">
        {{localize 'PF1.ClassType'}}
      </label>
      <label class="table-header">
        {{localize "PF1.Application.Settings.Health.Compute"}}
      </label>
      <label class="table-header">
        {{localize "PF1.Application.Settings.Health.Rate"}}
      </label>
      <label class="table-header" data-tooltip="PF1.Application.Settings.Health.CanMaximizeHint">
        {{localize "PF1.Application.Settings.Health.CanMaximize"}}
      </label>

      {{#each settings.hitdice}}
        <label class="index">
          {{localize label}}
        </label>
        <div class="switch">
          <input class="switch-check" type="checkbox" {{#if auto}}checked{{/if}}
                 name="hitdice.{{@key}}.auto" id="hitdice.{{@key}}.auto">
          <label class="switch-label" for="hitdice.{{@key}}.auto">
            <span class="switch-auto">
              <i class="fas fa-gears"></i>
              {{localize 'PF1.Application.Settings.Health.ComputeAuto'}}
            </span>
            <span class="switch-manual">
              <i class="fas fa-dice-d20"></i>
              {{localize 'PF1.Application.Settings.Health.ComputeManual'}}
            </span>
          </label>
        </div>
        <span>
          <input type="number" min="0.1" step="0.1" max="1" data-dtype="Number"
                 name="hitdice.{{@key}}.rate" value="{{rate}}">
        </span>
        <span>
          <input type="checkbox" data-dtype="Boolean"
                 name="hitdice.{{@key}}.maximized" {{checked maximized}}>
        </span>
      {{/each}}
      </ul>
    </div>

    <div class="form-group">
      <label for="maximize-hd-limit">
        {{localize "PF1.Application.Settings.Health.MaximizedLimit"}}
      </label>
      <div class="form-fields">
        <input id="maximize-hd-limit" type="number" data-dtype="Number" value="{{settings.maximized}}" min="0" step="1">
      </div>
    </div>

    <div class="form-group">
      <label for="health-rounding">
        {{localize 'PF1.Application.Settings.Health.Rounding'}}
      </label>
      <select id="health-rounding" name="rounding">
        {{selectOptions model.healthRoundingOptions selected=settings.rounding localize=true}}
      </select>
      <p class="hint">
        {{localize 'PF1.Application.Settings.Health.RoundingHint'}}
      </p>
    </div>

    <div class="form-group">
      <label for="health-continuity">
        {{localize 'PF1.Application.Settings.Health.Continuity'}}
      </label>
      <select id="health-continuity" name="continuous" data-dtype="Boolean">
        {{selectOptions model.healthContinuityOptions selected=settings.continuous localize=true}}
      </select>
      <p class="hint">
        {{localize 'PF1.Application.Settings.Health.ContinuityHint'}}
      </p>
    </div>
  </section>

  {{! Variant Rules Tab }}
  <section class="tab {{tabs.variant.cssClass}}" data-group="{{tabs.variant.group}}" data-tab="{{tabs.variant.id}}">
    {{! Wounds & Vigor }}
    <div class="form-group">
      <label for="pc-use-wounds-and-vigor">
        {{localize 'PF1.Application.Settings.Health.WoundsAndVigor.PC'}}
      </label>
      <input id="pc-use-wounds-and-vigor" type="checkbox" {{checked settings.variants.pc.useWoundsAndVigor}}
             name="variants.pc.useWoundsAndVigor" data-conflict="#pc-use-wound-thresholds">
      <p class="hint">
        {{localize 'PF1.Application.Settings.Health.WoundsAndVigor.PCHint'}}
      </p>
    </div>

    <div class="form-group">
      <label for="npc-use-wounds-and-vigor">
        {{localize 'PF1.Application.Settings.Health.WoundsAndVigor.NPC'}}
      </label>
      <input id="npc-use-wounds-and-vigor" type="checkbox" {{checked settings.variants.npc.useWoundsAndVigor}}
             name="variants.npc.useWoundsAndVigor" data-conflict="#npc-use-wound-thresholds">
      <p class="hint">
        {{localize 'PF1.Application.Settings.Health.WoundsAndVigor.NPCHint'}}
      </p>
    </div>

    <hr>

    {{! Wound Thresholds }}
    <div class="form-group">
      <label for="pc-use-wound-thresholds">
        {{localize 'PF1.Application.Settings.Health.WoundThresholds.PC'}}
      </label>
      <select id="pc-use-wound-thresholds" data-dtype="Number"
              name="variants.pc.useWoundThresholds" data-conflict="#pc-use-wounds-and-vigor">
        {{selectOptions model.woundThresholdOptions selected=settings.variants.pc.useWoundThresholds}}
      </select>
      <p class="hint">
        {{localize 'PF1.Application.Settings.Health.WoundThresholds.PCHint'}}
      </p>
      <p class="warning conflict-warning {{#if (not showWoundsVigorWarning.pc)}}hidden{{/if}}">
        <i class="fa-solid fa-triangle-exclamation"></i>
        {{localize "PF1.Application.Settings.Health.WoundThresholds.VigorConflict"}}
      </p>
    </div>

    <div class="form-group">
      <label for="npc-use-wound-thresholds">
        {{localize 'PF1.Application.Settings.Health.WoundThresholds.NPC'}}
      </label>
      <select id="npc-use-wound-thresholds" data-dtype="Number"
              name="variants.npc.useWoundThresholds" data-conflict="#npc-use-wounds-and-vigor">
        {{selectOptions model.woundThresholdOptions selected=settings.variants.npc.useWoundThresholds}}
      </select>
      <p class="hint">
        {{localize 'PF1.Application.Settings.Health.WoundThresholds.NPCHint'}}
      </p>
      <p class="warning conflict-warning {{#if (not showWoundsVigorWarning.npc)}}hidden{{/if}}">
        <i class="fa-solid fa-triangle-exclamation"></i>
        {{localize "PF1.Application.Settings.Health.WoundThresholds.VigorConflict"}}
      </p>
    </div>
  </section>
</section>
