<section class="form-body">
  <div class="form-group">
    <label for="reach-limit">
      {{localize "PF1.Application.Settings.Performance.Options.reachLimit.Label"}}
    </label>
    <div class="form-fields form-slider">
      <input id="reach-limit" name="reachLimit" type="range" step="1"
             min="{{schema.reachLimit.min}}" max="260" value="{{settings.reachLimit}}">
      <span class="range-value">
        {{settings.reachLimit}}
      </span>
    </div>
    <p class="hint">
      {{localize "PF1.Application.Settings.Performance.Options.reachLimit.Hint"}}
    </p>
  </div>
</section>
