<div class="inventory-filters flexrow">
  {{~> "systems/pf1/templates/internal/item-search.hbs" category=category}}

  <ul class="filter-list flexrow" data-category="{{category}}">
    {{#each sections}}
    <li class="filter-rule" data-category="{{../category}}" data-filter="{{id}}">{{label}}</li>
    {{/each}}
    {{#if prepared}}
    <li class="filter-rule special prepared" data-category="{{category}}" data-filter="prepared"
      data-tooltip="PF1.FilterPrepared"><i class="fa-solid fa-fw fa-feather-pointed"></i>
    </li>
    {{/if}}
    <li class="filter-rule special empty" data-category="{{category}}" data-filter="empty"
      data-tooltip="PF1.FilterEmpty"><i class="fa-solid fa-fw fa-folder-closed"></i></i>
    </li>
  </ul>
</div>
