<div class="base-setup">
  <h2>{{localize "PF1.BaseSetup"}}</h2>

  {{!-- Spellbooks --}}
  <div class="flexcol spellbook-usage">
    <h3>{{localize "PF1.SpellbookUsage"}}</h3>

    <div class="flexrow">
      {{#each spellbookData as |spellbook a|}}
      <label class="checkbox">
        <input type="checkbox" {{checked spellbook.inUse}} name="system.attributes.spells.spellbooks.{{a}}.inUse">
        {{spellbook.label}}
      </label>
      {{/each}}
    </div>
  </div>

  {{! Misc Setup Utilities }}
  <div class="flexcol">
    <h3>{{localize "PF1.UtilityFunctions"}}</h3>

    <button type="button" class="pointbuy-calculator">
      <i class="fa-solid fa-calculator"></i>
      {{localize "PF1.Application.PointBuy.Title"}}
    </button>
  </div>
</div>

{{> "systems/pf1/templates/actors/parts/actor-settings-ability-scores.hbs"}}
