.application.pf1-v2.health-config {
  .hitdice-table {
    display: grid;
    grid-template: 32px 1fr 1fr 1fr e("/") 1fr 1fr 1fr 1fr;
    text-align: center;
    vertical-align: middle;
    padding: 5px 0;
    align-items: center;

    .index {
      padding-left: 1rem;
    }

    > * {
      display: inline-flex;
      align-items: center;
      height: 100%;
      padding: 5px;
    }

    > span {
      justify-content: center;
    }

    .table-header {
      background: rgba(255, 255, 255, 0.2);
      font-weight: bold;
      justify-content: center;

      &.index {
        justify-content: left;
      }
    }

    .switch > label {
      flex: 1;
    }

    .switch-check {
      display: none;
    }

    .switch-label > span {
      display: block;
      border-radius: 4px;
      cursor: pointer;
      margin: auto;
      padding: 2px;
      width: calc(100% - 2px);
    }

    .switch-check:not(:checked) + .switch-label .switch-auto {
      display: none;
    }
    .switch-check:checked + .switch-label .switch-manual {
      display: none;
    }

    .switch-label > span {
      display: block;
      border-radius: 4px;
      cursor: pointer;
      margin: auto;
      padding: 2px;
      width: calc(100% - 2px);
      text-align: center;
    }
  }
}

.theme-light {
  .application.pf1-v2.health-config {
    .hitdice-table {
      > * {
        border-bottom: 1px solid var(--color-border-dark-primary);
      }
    }

    .switch-label {
      > span {
        border: 1px solid var(--color-border-dark-primary);
      }
    }
  }
}

.theme-dark {
  .application.pf1-v2.health-config {
    .hitdice-table {
      > * {
        border-bottom: 1px solid var(--color-border-light-primary);
      }

      .switch-label {
        > span {
          border: 1px solid var(--color-border-light-primary);
        }
      }
    }
  }
}
