{{!-- Conditionals --}}
<h4 class="conditional-header">
  {{localize "PF1.Conditionals"}}
</h4>
<ol class="conditionals form-group">
  {{#each data.conditionals as |conditional cidx|}}
  <li class="conditional" data-conditional="{{conditional.id}}">
    <div class="flexrow" data-conditional="{{conditional.id}}">
      <input class="conditional-default" type="checkbox" data-tooltip="PF1.Default" name="conditionals.{{cidx}}.default" {{checked this.default}}>
      <input class="conditional-name" type="text" name="conditionals.{{cidx}}.name" value="{{name}}"
      placeholder="{{localize "PF1.Name"}}">
      <a class="delete-conditional conditional-control delete-conditional"><i class="fas fa-trash"></i></a>
    </div>
    <ol class="conditionals form-group">
      {{#each this.modifiers as |modifier midx|}}
      <li class="conditional-modifier flexrow" data-conditional="{{../id}}" data-modifier="{{modifier._id}}">
        <input class="conditional-formula formula" type="text" name="conditionals.{{cidx}}.modifiers.{{midx}}.formula" value="{{formula}}"
        placeholder="{{localize "PF1.Formula"}}" required>

        <select class="conditional-target" name="conditionals.{{cidx}}.modifiers.{{midx}}.target" required>
          {{selectOptions targets selected=target blank=""}}
        </select>

        {{#unless (or (eq modifier.target "size") (eq modifier.target "critMult"))}}
          <select class="conditional-sub-target" name="conditionals.{{cidx}}.modifiers.{{midx}}.subTarget">
            {{#if target}}
            {{selectOptions subTargets selected=subTarget}}
            {{else}}
            <option value=""></option>
            {{/if}}
          </select>

          {{#if (eq modifier.target "attack")}}
          <select class="conditional-type" name="conditionals.{{cidx}}.modifiers.{{midx}}.type">
            {{#if target}}
            {{selectOptions conditionalModifierTypes selected=type}}
            {{else}}
            <option value=""></option>
            {{/if}}
          </select>
          {{/if}}

          {{#if (eq modifier.target "damage")}}
          <div class="conditional-damage-type">
            {{> "systems/pf1/templates/internal/damage-type-visual.hbs" damage=damage name=(concat "conditionals." a ".modifiers." m ".damageType")}}
          </div>
          {{/if}}

          {{#if (or (eq modifier.target "attack") (eq modifier.target "damage"))}}
          <select class="conditional-critical" name="conditionals.{{cidx}}.modifiers.{{midx}}.critical">
            {{#if target}}
            {{selectOptions conditionalCritical selected=critical localize=true}}
            {{else}}
            <option value=""></option>
            {{/if}}
          </select>
          {{/if}}
        {{/unless}}
        {{#if ../modifiers.length}}
        <a class="conditional-control delete-conditional-modifier"><i class="fas fa-trash"></i></a>{{/if}}
      </li>
      {{/each}}
      <li class="flexrow"><a class="conditional-control add-conditional-modifier"><i class="fas fa-plus"></i> {{localize "PF1.AddEffect"}}</a></li>
    </ol>
  </li>
  {{/each}}
  <li class="conditional flexrow"><a class="conditional-control add-conditional"><i class="fas fa-plus"></i> {{localize "PF1.AddConditional"}}</a></li>
</ol>
</div>
