{{!-- Template Type --}}
<div class="form-group select">
  <label>{{localize "PF1.TemplateType"}}</label>
    <div class="form-fields">
    <select name="measureTemplate.type">
      {{selectOptions config.measureTemplateTypes selected=data.measureTemplate.type blank=""}}
    </select>
  </div>
</div>

{{#if data.measureTemplate.type}}
{{!-- Template Size --}}
<div class="form-group">
  <label>{{localize "PF1.TemplateSizeFormula"}}</label>
  <div class="form-fields">
    <input class="formula" type="text" name="measureTemplate.size" value="{{data.measureTemplate.size}}" placeholder="{{localize "PF1.Formula"}}">
  </div>
  <p class="hint">{{localize "PF1.TemplateSizeFormulaHint"}}</p>
</div>

<div class="form-group">
  <label>{{localize "PF1.CustomColor"}}</label>
  <div class="form-fields">
    <input class="color" type="text" name="measureTemplate.color" value="{{data.measureTemplate.color}}" placeholder="{{user.color}}">
    <input type="color" value="{{#if data.measureTemplate.color}}{{data.measureTemplate.color}}{{else}}{{user.color}}{{/if}}" data-edit="measureTemplate.color">
  </div>
</div>

<div class="form-group">
  <label>{{localize "PF1.CustomTexture"}}</label>
  <div class="form-fields">
    <file-picker name="measureTemplate.texture" type="imagevideo" placeholder="path/image.png" value="{{data.measureTemplate.texture}}"></file-picker>
  </div>
</div>
{{/if}}
