.pf1-v2.sheet.change-editor {
  input {
    flex: 3;
  }

  .formula {
    label {
      line-height: var(--input-height);
    }

    .formula-container {
      display: flex;
      align-items: center;

      .formula-type {
        border: 1px solid transparent;
        padding: 0 0.5rem;
        height: var(--input-height);
        line-height: var(--input-height);
        font-size: var(--font-size-14);
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
      }

      input {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
    }
  }

  :is(.radio, .change-target) {
    border: 1px solid transparent;
    border-radius: 4px;
    height: var(--input-height);
    line-height: var(--input-height);
    font-size: var(--font-size-14);
    cursor: pointer;
  }

  .radio {
    display: flex;
    gap: 0;
    flex: 0;
    flex-flow: row nowrap;

    input {
      display: none;
    }

    label {
      padding: 0 0.5rem;
      border: 1px solid transparent;
      border-radius: 4px;
      height: var(--input-height);
      line-height: var(--input-height);
      cursor: pointer;
      display: flex;
      align-items: center;
      gap: 0.25rem;
    }
  }

  .change-target {
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
  }

  :is(select, .instructions, .priority input) {
    text-align: center;
  }
}

.theme-light {
  .pf1-v2.sheet.change-editor {
    :is(.change-target, .formula-type, .radio) {
      background-color: rgba(0, 0, 0, 0.1);
      border-color: var(--color-dark-6);
    }

    :is(.change-target.invalid, :invalid) {
      border-color: var(--color-level-error-border);
    }

    .radio {
      input:checked + label {
        background-color: var(--color-warm-1);
        border-top-color: var(--color-dark-6);
        border-bottom-color: var(--color-dark-6);
        color: var(--color-dark-1);
      }
    }

    .formula {
      .formula-container {
        .formula-type {
          border-color: var(--color-dark-6);
        }
      }
    }
  }
}

.theme-dark {
  .pf1-v2.sheet.change-editor {
    :is(.radio, .change-target, .formula-type) {
      background-color: var(--color-cool-4);
    }

    :is(.change-target.invalid, :invalid) {
      border-color: var(--color-level-error-border);
    }

    .radio {
      input:checked + label {
        background-color: var(--color-warm-1);
        color: var(--color-dark-1);
      }
    }

    .formula {
      .formula-container {
        .formula-type {
          border-right-color: rgba(0, 0, 0, 0.5);
        }
      }
    }
  }
}
