.pf1-v2.list-selector {
  .window-content {
    padding: 0;

    > :not(section) {
      padding: 0.5rem 1rem 1rem;
    }
  }

  table {
    margin: 0 0 0.5rem 0;
    border-radius: unset;
    border: unset;
    table-layout: fixed;

    thead {
      background: none;
      text-align: center;
      text-shadow: unset;
      font-size: var(--font-size-14);

      tr {
        &.drag-over {
          th {
            border-bottom-width: 3px;
          }
        }
      }
    }

    tbody {
      tr {
        border-top: 1px solid transparent;

        &.is-dragged {
          opacity: 0.25;
        }

        &.drag-over {
          border-top-width: 3px;
        }
      }
    }

    :is(td, th) {
      padding: 0.5rem;

      &:first-child {
        padding-left: 1rem;
      }

      &.drag-control {
        width: 2.5rem;
        cursor: move;
      }

      &.entry-control {
        padding-right: 1rem;
        width: 3.5rem;

        button {
          padding: 0.5rem;

          > i {
            margin-right: unset;
          }
        }
      }
    }
  }

  div.add-entry {
    display: flex;
    text-align: center;
    align-items: center;
    gap: 0.5rem;
    padding: 0 1rem;

    &:before,
    &:after {
      content: "";
      flex: 1;
      height: 1px;
      border-top: 1px solid var(--color-form-hint);
    }
  }

  .form-group {
    padding: 0 1rem;
  }
}

.theme-light {
  .pf1-v2.list-selector {
    table {
      thead {
        color: var(--color-dark-1);

        tr.drag-over {
          th {
            border-bottom-color: var(--color-warm-2);
          }
        }
      }

      tbody {
        tr.drag-over {
          border-top-color: var(--color-warm-2);
        }
      }
    }
  }
}

.theme-dark {
  .pf1-v2.list-selector {
    table {
      thead {
        color: var(--color-light-1);

        tr.drag-over {
          th {
            border-bottom-color: var(--color-warm-1);
          }
        }
      }

      tbody {
        tr.drag-over {
          border-top-color: var(--color-warm-1);
        }
      }
    }
  }
}
