form.pf1-v2.application.party-rest {
  > .resting {
    cursor: wait;

    * {
      pointer-events: none;
    }
  }

  .actor-list {
    list-style: none;
    margin: 0;
    padding: 0;

    display: grid;
    grid-template-columns: 32px 3fr min-content min-content min-content min-content;
    gap: 0.3rem;

    > li {
      display: contents; // TODO: subgrid

      &.header {
        > .toggle {
          font-size: 1.2rem;
        }
      }

      &.actor:hover > div {
        background: var(--pf1-bg-dark-0);
      }

      > div {
        display: flex;
        align-items: center;
      }

      :is(h3, h4) {
        margin: 0;
      }

      img {
        width: 32px;
        height: 32px;
      }

      .name {
        padding: 0 3px;
      }

      h4.name {
        border: unset;
        font-size: var(--font-size-20);
      }

      .toggle-all {
        cursor: pointer;

        & > i {
          pointer-events: none;
        }
      }

      .toggle {
        text-align: center;
        justify-self: center;
        white-space: nowrap;
      }
    }
  }

  .duration {
    .form-fields {
      gap: 1rem;
    }

    .watch-shift {
      flex: 0;
      white-space: nowrap;
    }
  }

  .watches .choices label {
    white-space: nowrap;
  }

  .watch-length {
    .form-fields {
      flex: 0;

      white-space: nowrap;
    }
  }
}

.theme-dark form.pf1-v2.application.party-rest {
  .shift-duration {
    color: gold;
  }
}
