<section class="form-body">
  <h2>{{localize "PF1.ChooseAnAction"}}</h2>

  <div class="actions">
    {{#each actions}}
      <div class="action" data-action="click" data-id="{{id}}">
        <img src="{{img}}" alt="{{name}}">
        <span class="name">{{name}}</span>
      </div>
    {{/each}}
  </div>
</section>
