<section class="form-body flexcol">
  <div class="form-group stacked">
    <label class="checkbox">
      <input type="checkbox" name="restoreHealth" checked> {{localize "PF1.RestoreHealth"}}
    </label>

    <label class="checkbox">
      <input type="checkbox" name="restoreDailyUses" checked> {{localize "PF1.RestoreDailyUses"}}
    </label>

    <label class="checkbox">
      <input type="checkbox" name="longTermCare"> {{localize "PF1.LongTermCare"}}
    </label>
  </div>

  <div class="form-group">
    <label>{{localize "PF1.Duration"}}</label>
    <div class="form-fields">
      <input type="number" name="hours" value="8" min="0" step="1" placeholder="0"> {{localize "PF1.Time.Period.hour.Label"}}
    </div>
  </div>
</section>
