<section class="form-body">
  <table>
    {{#if (gt fields.length 1)}}
      <thead>
      <tr data-drop="true" data-index="0">
        <th class="drag-control"></th>
        {{#each fields}}
          <th>{{localize this}}</th>
        {{/each}}
        <th class="entry-control"></th>
      </tr>
      </thead>
    {{/if}}
    <tbody>
    {{#each entries as |entry index|}}
      <tr class="entry" data-drop="true" data-index="{{index}}">
        <td class="drag-control" data-drag="true">
          <i class="fas fa-bars"></i>
        </td>
        {{#if @root.isFlat}}
          <td>
            <input type="text" class="textarea" data-index="{{index}}"
                   value="{{0}}" data-dtype="{{1}}" name="{{index}}">
          </td>
        {{else}}
          {{#each entry as |field subindex|}}
            {{#with field}}
              <td>
                <input type="text" class="textarea" data-index="{{subindex}}"
                       value="{{0}}" data-dtype="{{1}}" name="{{index}}-{{subindex}}">
              </td>
            {{/with}}
          {{/each}}
        {{/if}}
        <td class="entry-control">
          <button type="button" data-action="deleteEntry" class="entry-control delete-entry"><i
            class="fas fa-trash"></i></button>
        </td>
      </tr>
    {{/each}}
    </tbody>
  </table>
  <div class="add-entry"><a data-action="addEntry"><i class="far fa-plus"></i> {{localize "PF1.AddEntry"}}</a></div>
</section>
