{{#if damage.types.size}}
<div class="damage-type-visual"{{#if name}} data-name="{{name}}"{{/if}}>
  {{! Standard Damage }}
  {{#each damage.standard}}
  <div class="damage-type" data-tooltip="{{name}}">
    {{#if icon}}
    <i class="{{icon}} icon-pf" style="color: {{color}}"></i>
    {{else}}
    <img class="icon-pf" src="{{img}}">
    {{/if}}
    {{#if (eq ../types.length 1)}}
    <span class="name">{{name}}</span>
    {{/if}}
  </div>
  {{/each}}
  {{! Custom Damage }}
  {{#with damage.custom}}
  <span class="custom">{{#each this}}{{this}}{{#unless @last}};{{/unless}}{{/each}}</span>
  {{/with}}
</div>
{{else}}
{{!-- No damage type values --}}
<div class="damage-type-visual empty"{{#if name}} data-name="{{name}}"{{/if}}>
  <span>{{localize "PF1.Undefined"}}</span>
</div>
{{/if}}
